main {
    margin-block-start: 3.2rem;
}
.max-55ch {
    max-width: 55ch;
}
#showcase-section {
    margin-block-start: 0;
}
.cs-description {
    display: flex;
    gap: 3rem;
    margin-block-start: 5rem;
    padding-inline-end: 0;
}
.desc-content {
    width: 70%;
}
.desc-buttons {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.browser {
    border-radius: 7px;
    overflow: hidden;
    width: 100%;
}
.browser iframe{
    position: relative;
    top: -.5rem;
    border: none; 
    outline: none; 
    background-color: white;
    width: 100%; 
    height: 80vh;
    border-radius: 0 0 7px 7px;
    z-index: 1;
}
.browser-tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: .5rem 1rem;
    background-color: #191C1F;
    z-index: 10;
    align-items: center;
}
.browser-url {
    background-color: #303235;
    color: rgb(211, 211, 211);
    width: 35%;
    font-size: .87rem;
    border-radius: 5px;
    padding-block-start: .4rem;
    padding-block-end: .25rem;
    text-align: center;
    text-decoration: none;
}
.browser-url img{
    margin-inline-end: 5px;
    vertical-align: -2px;
    width: .6rem;
}
.browser-btns {
    display: flex;
    gap: .55rem;
}
.browser-btns span {
    width: .62rem;
    height: .62rem;
    border-radius: 50%;
    background-color: white;
}
.browser-btns span:nth-child(1) {
    background-color: #CE5347;
}
.browser-btns span:nth-child(2) {
    background-color: #F5BD4F;
}
.browser-btns span:nth-child(3) {
    background-color: #61C454;
}
.persona-section {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    margin-block-start: 15rem;
}
.persona {
    padding-block-start: 2rem;
    padding-inline: clamp(1rem, 5vw, 2rem);
    outline: 1px solid var(--scrollbar-color);
    border-radius: 4px;
    background-color: #10151D;
}
.persona-info {
    margin-block-end: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.user-persona {
    width: 6.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgb(255, 255, 255, .05);
}
.persona-info h6{
    margin-block-end: .5rem;
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 1px;
}
.persona ul, .unique-features-section ul {
    padding-inline-start: 1.1rem;
}
.persona li, .unique-features-section li {
    margin-block: .75rem;
}
.persona-goals {
    margin-block: 2rem;
}
.persona-frustrations {
    margin-block: 2rem;
}
.persona-goals h6, .persona-frustrations h6 {
    margin-block-end: 1.4rem;
}
section #head {
    margin-block-end: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.grid-auto-cols{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}
.wireframe {
    position: relative;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.style-section {
    min-height: 50vh;
    margin-block-start: 5rem;
}
.style-section .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.font-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    text-align: right;
}
.font-wrapper span{
    color: var(--code-white);
}
.font-decorations {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: clamp(1.2rem, 10vw, 1.5rem);
    letter-spacing: .25em;
}
.style-colors {
    margin-block-start: 2.5rem;
    margin-block-end: .5rem;
}
.colors {
    display: flex;
    margin-block-start: 1.25rem;
}
.colors {
    overflow: hidden;
    border-radius: 2px;
}
.colors *{
    width: clamp(5.5rem, 15vw, 7.5rem);
    aspect-ratio: 2.5/1;
    background-color: var(--scrollbar-color);
}
.contact-section {
    min-height: 87vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1360px)  {
    main {
        margin-block-start: 5.5rem;
    }
    .persona-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto-fill);
    }
    .persona-section #head {
        grid-column: span 2;
    }
    .hero-content {
        width: 100%;
    }
    .hero-wrapper {
        position: relative;
        top: 0%;
        left: -2%;
        margin-block-start: 3rem;
        width: 100%;
    }
    .dprocess-section {
        margin-block: 7rem;
    }
    .user-testing-section {
        padding-block-end: 5rem;
    }
    .showcase-phone{
        width: clamp(5.5rem, 20vw, 18rem);
    }
}
@media only screen and (max-width: 1000px)  {
    .cs-description {
        flex-direction: column;
        gap: .5rem;
    }
}
@media only screen and (max-width: 850px)  {
    .desc-content {
        width: 100%;
    }
    .cs-description {
        margin-block-end: 10rem;
    }
    .browser iframe {
        display: none;
    }
    .persona-section #head {
        grid-column: span 1;
    }
    .persona-section {
        grid-template-columns: repeat(1, 1fr);
    }
    .wireframe {
        height: 25rem;
    }
    .persona-section {
        margin-block-start: 1rem;
        margin-block-end: 6rem;
    }
    .style-section .content-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
    .style-wrapper {
        width: 100%;
    }
    .font-wrapper {
        text-align: left;
        margin-block-start: 3rem;
        width: 100%;
    }
}
@media only screen and (max-width: 768px)  {
    .hero-section {
        min-height: fit-content;
    }
    .dprocress-blocks {
        min-height: 10.5rem;
    }
    .unique-features-section {
        min-height: 70vh;
    }
    .colors {
        width: 100%;
    }
    .colors *{ 
        width: 100%;
        height: 2rem;
        aspect-ratio: 0;
    }
    .style-section {
        margin-block-end: 5rem;
    }
    .dprocess-blocks {
        min-height: 9.5rem;
    }
    .dprocess-blocks img{
        width: 2.6rem;
    }
    .font-wrapper h2 {
        font-size: 2.7rem;
    }
    .showcase-phone{
        top: 55%;
        right: -2%;
    }
    .showcase-laptop video{
        width: 84%;
    }
    .persona-section #head {
        margin-block-end: .6rem;
    }
    .dp-num {
        right: 7%;
    }
}
.nunito {
    font-family: 'Nunito', sans-serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}